.toast {
	position: absolute !important;
	top: 64px;
	z-index: 1056;
	width: 512px;
	left: 50%;
	transform: translateX(-50%);
}
.ui-datepicker .ui-state-active {
	background: orange;
	color: #ffffff;
}
